{% if docstring_header %}
{{ docstring_header }}
{% endif %}

{%- if from_imports -%}
    {%- for from_, imports in from_imports.items() -%}
    from {{ from_ }} import {{ ", ".join(imports) }}{{"\n"}}

    {%- endfor -%}
{%- endif -%}

{%- if imports -%}
    {%- for import_ in imports -%}
    import {{ import_ }}{{"\n"}}

    {%- endfor -%}
{%- endif -%}
